{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wedding Gen</title>
    <link rel="stylesheet" href="{% static "css/main.css" %}"/>
</head>
<body>
<div id="navbar">
    <a href="#home">Home</a>
    <a href="#news">News</a>
    <a href="#contact">Contact</a>
</div>
<div class="banner"></div>
<section>
    <div class="leftSide">
        <img src="{% static "images/pikachu.jpg" %}">
    </div>
    <div class="content">
        <h2>Content 1</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nibh ligula, vehicula et tincidunt sed,
            ultrices sit amet urna. Sed in euismod lectus. Ut a pretium metus. Nulla mattis, erat ac cursus pulvinar,
            dui eros ornare erat, ullamcorper tristique neque magna nec lectus. Donec in diam quis eros faucibus
            posuere. Nam viverra interdum posuere. Aliquam erat volutpat. Nulla neque ligula, finibus id nibh quis,
            sollicitudin gravida mauris. Vivamus congue sollicitudin tellus, ac elementum quam gravida sed. Suspendisse
            vel risus at libero dictum mollis in sit amet ipsum. Mauris a sapien pharetra, feugiat ex vitae, malesuada
            odio. Donec eget erat id arcu ultrices rutrum blandit vel purus. Nulla congue nisi et magna consequat
            finibus. Nunc viverra erat dolor, eget mollis libero maximus ut. Mauris rutrum varius nulla, a interdum mi
            ultrices a. Cras neque enim, placerat vel justo ac, dictum finibus libero.

            Quisque fermentum, lacus in blandit ornare, nulla justo tempus lectus, sed auctor augue risus eu tortor.
            Morbi at neque quis nisi accumsan malesuada sit amet sed quam. Pellentesque molestie nunc ac metus porta
            lobortis. Morbi ultricies ex et elit tempus mattis. Vivamus non nunc vitae turpis blandit congue. Integer
            ornare lorem quis consequat porta. Aliquam erat volutpat. Fusce scelerisque.</p>
    </div>
</section>
<section>
    <div class="leftSide">
        <img src="{% static "images/totodile.png" %}">
    </div>
    <div class="content">
        <h2>Content 2</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nibh ligula, vehicula et tincidunt sed,
            ultrices sit amet urna. Sed in euismod lectus. Ut a pretium metus. Nulla mattis, erat ac cursus pulvinar,
            dui eros ornare erat, ullamcorper tristique neque magna nec lectus. Donec in diam quis eros faucibus
            posuere. Nam viverra interdum posuere. Aliquam erat volutpat. Nulla neque ligula, finibus id nibh quis,
            sollicitudin gravida mauris. Vivamus congue sollicitudin tellus, ac elementum quam gravida sed. Suspendisse
            vel risus at libero dictum mollis in sit amet ipsum. Mauris a sapien pharetra, feugiat ex vitae, malesuada
            odio. Donec eget erat id arcu ultrices rutrum blandit vel purus. Nulla congue nisi et magna consequat
            finibus. Nunc viverra erat dolor, eget mollis libero maximus ut. Mauris rutrum varius nulla, a interdum mi
            ultrices a. Cras neque enim, placerat vel justo ac, dictum finibus libero.

            Quisque fermentum, lacus in blandit ornare, nulla justo tempus lectus, sed auctor augue risus eu tortor.
            Morbi at neque quis nisi accumsan malesuada sit amet sed quam. Pellentesque molestie nunc ac metus porta
            lobortis. Morbi ultricies ex et elit tempus mattis. Vivamus non nunc vitae turpis blandit congue. Integer
            ornare lorem quis consequat porta. Aliquam erat volutpat. Fusce scelerisque.</p>
    </div>
</section>
</body>
<script src="{% static 'js/stickyMenu.js' %}"></script>
</html>