{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv="x-ua-compatible" content="IE=9"/><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>dateng.id</title>
    <meta name="description"
          content="Spirit8 is a Digital agency one page template built based on bootstrap framework. This template is design by Robert Berki and coded by Jenn Pereira. It is simple, mobile responsive, perfect for portfolio and agency websites. Get this for free exclusively at ThemeForces.com">
    <meta name="keywords"
          content="bootstrap theme, portfolio template, digital agency, onepage, mobile responsive, spirit8, free website, free theme, themeforces themes, themeforces wordpress themes, themeforces bootstrap theme">
    <meta name="author" content="ThemeForces.com">
    <link rel="icon"
          type="image/png"
          href="{% static "images/dateng_logo.png" %}">
    <!-- Favicons
    ================================================== -->

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "fonts/font-awesome/css/font-awesome.css" %}">

    <!-- Slider
    ================================================== -->
    <link href="{% static "css/owl.carousel.css" %}" rel="stylesheet" media="screen">
    <link href="{% static "css/owl.theme.css" %}" rel="stylesheet" media="screen">

    <!-- Stylesheet
    ================================================== -->
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/responsive.css" %}">

    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic'
          rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400'
          rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="{% static "js/modernizr.custom.js" %}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!-- Navigation
==========================================-->
<nav id="tf-menu" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'index' %}"><img width="100" height="50"
                                                           src="{% static "images/dateng_logo.png" %}" alt="dateng.id"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#tf-home" class="page-scroll">Home</a></li>
                <li><a href="#tf-about" class="page-scroll">About</a></li>
                <li><a href="#tf-services" class="page-scroll">Services</a></li>
                <li><a href="#tf-team" class="page-scroll">Team</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<!-- Home Page
==========================================-->
<div id="tf-home" class="text-center">
    <div class="overlay">
        <div class="content">
            <h1>Butuh Undangan</h1>
            <p class="lead">Kami bisa menyediakan dengan cepat dan mudah.</p>
            <a href="#tf-about" class="fa fa-angle-down page-scroll"></a>
        </div>
    </div>
</div>

<!-- About Us Page
==========================================-->
<div id="tf-about">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="{% static "img/02.png" %}" class="img-responsive">
            </div>
            <div class="col-md-6">
                <div class="about-text">
                    <div class="section-title">
                        <h4>Apa itu Dateng.id?</h4>
                        <h2></h2>
                        <hr>
                        <div class="clearfix"></div>
                    </div>
                    <p class="intro">Ingin buat undangan nikahmu jadi menarik ? Modalnya cuma gadget dan jari-jemari
                        kamu bisa menyebarkan undangan melalui semua sosial media loh. Gak usah bingung, kami bantu kamu
                        mewujudkan hal tersebut. Cukup dengan digital platform yang kami sediakan kamu bisa memiliki
                        undangan online. Kamu boleh buat undangan dengan template yang telah kami sediakan, atau kamu
                        punya desain undangan sendiri, bisa banget. Caranya gampang kok, kamu tinggal liat produk-produk
                        yang kami sediakan and mulai buat undanganmu. Dan pasti harganya sangat terjangkau kantong
                        kamu.</p>
                    <ul class="about-list">
                        <li>
                            <span class="fa fa-dot-circle-o"></span>
                            <strong>Mission</strong> - <em>We deliver uniqueness and quality</em>
                        </li>
                        <li>
                            <span class="fa fa-dot-circle-o"></span>
                            <strong>Skills</strong> - <em>Delivering fast and excellent results</em>
                        </li>
                        <li>
                            <span class="fa fa-dot-circle-o"></span>
                            <strong>Clients</strong> - <em>Satisfied clients thanks to our experience</em>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="tf-flow" class="text-center">
    <div class="container">
        <div class="section-title center">
            <h2>Alur Pemesanan</h2>
            <div class="line">
                <hr>
            </div>
            <div class="clearfix"></div>
            <small><em>Berikut bagaimana anda bisa memesan undangan melalui platform kami</em></small>
        </div>
        <div class="space"></div>
         <img src="{% static "images/alur-pemesanan.jpg" %}" alt="alur-pemesanan">
    </div>
</div>

<!-- Services Section
==========================================-->
<div id="tf-services" class="text-center">
    <div class="container">
        <div class="section-title center">
            <h2>Fitur Template</h2>
            <div class="line">
                <hr>
            </div>
            <div class="clearfix"></div>
            <small><em>Bagi anda yang ingin membuat undangan dengan cepat, silahkan gunakan template yang sudah kami
                sediakan lalu
                pilih fitur - fitur yang sesuai dengan kebutuhan anda.</em></small>
        </div>
        <div class="space"></div>
        <div class="row">
            <div class="col-md-3 col-sm-6 service">
                <i class="fa fa-info-circle"></i>
                <h4><strong>Alamat</strong></h4>
                <p>Anda bisa Informasi nama tempat dan alamat lengkap (venue) akad dan resepsi dilangsungkan</p>
            </div>
            <div class="col-md-3 col-sm-6 service">
                <i class="fa fa-calendar"></i>
                <h4><strong>Tanggal Acara</strong></h4>
                <p>Menampilkan informasi hari, tanggal dan waktu acara diselenggarakan</p>
            </div>
            <div class="col-md-3 col-sm-6 service">
                <i class="fa fa-bullseye"></i>
                <h4><strong>Inisial</strong></h4>
                <p>Kami akan menggunakan inisial anda untuk dijadikan logo dari Undangan anda</p>
            </div>

            <div class="col-md-3 col-sm-6 service">
                <i class="fa fa-user"></i>
                <h4><strong>Nama</strong></h4>
                <p>Informasi nama lengkap kedua mempelai serta informasi mengenai keluarga kedua mempelai</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 service">
                <i class="fa fa-photo"></i>
                <h4><strong>Galeri Foto</strong></h4>
                <p>Fitur ini menyediakan galeri-galeri foto kedua mempelai (ex. Foto prawed, foto saat lamaran, foto
                    saat pacaran, dll.)</p>
            </div>
            <div class="col-md-3 col-sm-6 service">
                <i class="fa fa-clock-o"></i>
                <h4><strong>Countdown Acara</strong></h4>
                <p>Fitur ini menyediakan perhitungan waktu mundur sampai hari H</p>
            </div>

            <div class="col-md-3 col-sm-6 service">
                <i class="fa fa-music"></i>
                <h4><strong>Musik Latar</strong></h4>
                <p>Fitur ini menyediakan musik latar dalam undangan online yang dapat menggambarkan suasana bahagia
                    kedua mempelai. (musik dapat dipilih sesuai keinginan)</p>
            </div>

            <div class="col-md-3 col-sm-6 service">
                <i class="fa fa-location-arrow"></i>
                <h4><strong>Peta Lokasi</strong></h4>
                <p>Fitur ini menyediakan peta tempat acara diselenggarakan, akan terhubung dengan aplikasi maps di
                    handphone yang dapat memudahkan tamu undangan dalam menemukan alamat venue</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 service">
                <i class="fa fa-star-half-full"></i>
                <h4><strong>Cerita Singkat</strong></h4>
                <p>Fitur ini menyediakan gambaran dan cerita singkat dari perjalanan cinta kedua mempelai.</p>
            </div>

            <div class="col-md-3 col-sm-6 service">
                <i class="fa fa-comment-o"></i>
                <h4><strong>Ucapan Selamat</strong></h4>
                <p>Fitur ini menyediakan halaman untuk para rekan-rekan (tamu undangan) menyampaikan ucapan-ucapan untuk
                    kedua mempelai</p>
            </div>

            <div class="col-md-3 col-sm-6 service">
                <i class="fa fa-gift"></i>
                <h4><strong>Hadiah Online</strong></h4>
                <p>The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section
                    1.10.32.</p>
            </div>

            <div class="col-md-3 col-sm-6 service">
                <i class="fa fa-qrcode"></i>
                <h4><strong>Buku Tamu QR Code</strong></h4>
                <p>Fitur buku tamu ini dapat disediakan jika customer telah melakukan pemesanan terhadap undangan
                    spesial. Fitur ini menyediakan buku tamu digital untuk para tau undangan dengan nama-nama yang telah
                    ditentukan oleh customer. Buku tamu undangan ini dapat berfungsi sebagai buku tamu dan pemberian
                    amplop digital.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 service">
                <i class="fa fa-user-plus"></i>
                <h4><strong>Undangan Tamu Spesial</strong></h4>
                <p>Undangan spesial ini disediakan dengan pemesanan customer kepada kami yang mencakup permintaan dari
                    pihak customer (kedua mempelai) terkait keinginan yang berbeda di luar dari beberapa fitur yang kami
                    sediakan (ex. Undangan dengan nama tamu undangan masing-masing, dll) dan dapat dikonsultasikan
                    terlebih dahulu dengan pihak kami.</p>
            </div>
        </div>

    </div>
</div>

<!-- Team Page
==========================================-->
<div id="tf-team" class="text-center">
    <div class="overlay">
        <div class="container">
            <div class="section-title center">
                <h2>Meet <strong>our team</strong></h2>
                <div class="line">
                    <hr>
                </div>
            </div>

            <div id="team" class="owl-carousel owl-theme row">
                <div class="item">
                    <div class="thumbnail">
                        <img src="{% static "img/team/01.jpg" %}" alt="..." class="img-circle team-img">
                        <div class="caption">
                            <h3>Jenn Gwapa</h3>
                            <p>CEO / Founder</p>
                            <p>Do not seek to change what has come before. Seek to create that which has not.</p>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="thumbnail">
                        <img src="{% static "img/team/02.jpg" %}" alt="..." class="img-circle team-img">
                        <div class="caption">
                            <h3>Jenn Gwapa</h3>
                            <p>CEO / Founder</p>
                            <p>Do not seek to change what has come before. Seek to create that which has not.</p>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="thumbnail">
                        <img src="{% static "img/team/03.jpg" %}" alt="..." class="img-circle team-img">
                        <div class="caption">
                            <h3>Jenn Gwapa</h3>
                            <p>CEO / Founder</p>
                            <p>Do not seek to change what has come before. Seek to create that which has not.</p>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="thumbnail">
                        <img src="{% static "img/team/04.jpg" %}" alt="..." class="img-circle team-img">
                        <div class="caption">
                            <h3>Jenn Gwapa</h3>
                            <p>CEO / Founder</p>
                            <p>Do not seek to change what has come before. Seek to create that which has not.</p>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="thumbnail">
                        <img src="{% static "img/team/04.jpg" %}" alt="..." class="img-circle team-img">
                        <div class="caption">
                            <h3>Jenn Gwapa</h3>
                            <p>CEO / Founder</p>
                            <p>Do not seek to change what has come before. Seek to create that which has not.</p>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="thumbnail">
                        <img src="{% static "img/team/01.jpg" %}" alt="..." class="img-circle team-img">
                        <div class="caption">
                            <h3>Jenn Gwapa</h3>
                            <p>CEO / Founder</p>
                            <p>Do not seek to change what has come before. Seek to create that which has not.</p>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="thumbnail">
                        <img src="{% static "img/team/02.jpg" %}" alt="..." class="img-circle team-img">
                        <div class="caption">
                            <h3>Jenn Gwapa</h3>
                            <p>CEO / Founder</p>
                            <p>Do not seek to change what has come before. Seek to create that which has not.</p>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="thumbnail">
                        <img src="{% static "img/team/03.jpg" %}" alt="..." class="img-circle team-img">
                        <div class="caption">
                            <h3>Jenn Gwapa</h3>
                            <p>CEO / Founder</p>
                            <p>Do not seek to change what has come before. Seek to create that which has not.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<nav id="footer">
    <div class="container">
        <div class="pull-left fnav">
            <p>ALL RIGHTS RESERVED. COPYRIGHT © 2014. Designed by <a
                    href="https://dribbble.com/shots/1817781--FREEBIE-Spirit8-Digital-agency-one-page-template"
                    target="_blank">Robert Berki</a> and Coded by <a href="https://dribbble.com/jennpereira"
                                                                     target="_blank">Jenn Pereira</a></p>
        </div>
        <div class="pull-right fnav">
            <ul class="footer-social">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            </ul>
        </div>
    </div>
</nav>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static "js/jquery.1.11.1.js" %}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script type="text/javascript" src="{% static "js/bootstrap.js" %}"></script>
<script type="text/javascript" src="{% static "js/SmoothScroll.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.isotope.js" %}"></script>

<script src="{% static "js/owl.carousel.js" %}"></script>

<!-- Javascripts
================================================== -->
<script type="text/javascript" src="{% static "js/main.js" %}"></script>

</body>
</html>