{% load static %}
@import url('https://gonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap');
*{
    marin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.banner
{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url("/static/images/pokemon.png");
    background-size: cover;
    background-attachment: fixed;
}
section:nth-child(2n+1)
{
    position: relative;
    height: auto;
    background: #fafafa;
    display: flex;
    flex-direction: row-reverse;
}
section:nth-child(2n+2)
{
    position: relative;
    height: auto;
    background: #fafafa;
    display: flex;
}
section .leftSide
{
    position: sticky;
    top: 0;
    min-width: 50%;
    height: 100vh;
}
section .leftSide img
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
}
section:nth-child(2n+1) .content
{
    padding: 100px 0 100px 100px;
    text-align: right;
}

section:nth-child(2n+2) .content
{
    padding: 100px 100px 100px 100px;
    text-align: left;
}

section .content h2
{
    margin: 0 0 20px;
    font-size: 60px;
}
section .content p
{
    color: #777777;
    font-size: 18px;
}

/* Style the navbar */
#navbar {
  overflow: hidden;
  background-color: #333;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}